* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 700px;
    width: auto;
    color: rgb(15, 12, 12);
}

footer {
    height: 80px;
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
}